<div class="left-sidebar">
  <h2><%= t ".category" %></h2>
  <div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><%= @category.name %></h4>
      </div>
    </div>
  </div><!--/category-products-->
</div>
