<%= render "layouts/slider" %>
<section>
  <div class="container">
    <div class="row">
      <%= render "customers/home/category_left" %>
      <div class="col-sm-9 padding-right">
        
        <%= render "customers/home/category_tab" %>      

      </div>
    </div>
  </div>
</section>
