/*
 *= require animate
 *= require main
 *= require prettyPhoto
 *= require price-range
 *= require responsive
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.img_tag {
  .img_rounded {
    .img-rounded{
      width: 179px;
      height: 134px;
    }
  }
}
.center {
  margin-bottom: 10px;
}
